@import "tailwindcss";

@theme {
  --color-custom-dark: #000000;
  --color-custom-light: #739EC9;

  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}

body {
  background-color: #0f172a; 
  background-image: url('/playa.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

