@import "tailwindcss";

@theme {
  --color-custom-dark: #1F0FFA;
  --color-custom-medium: #0040FE;
  --color-custom-light: #0F94FA;

  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}


